mixin catalog-item(listName, img, alt, title, price)
  li(class=listName + "__card")
    a(class=listName + "__card-title" href="#")= title
    picture
      source(type="image/webp" media="(min-width: 768px)" srcset=img + "-tablet.webp")
      source(type="image/webp" srcset=img + "-mobile.webp")
      source(media="(min-width: 768px)" srcset=img + "-tablet.jpg")
      img(class=listName + "__card-image" src=img + "-mobile.jpg" width="130" height="160" alt=alt)
    p(class=listName + "__card-price")= price
  |
  |
